<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact Us</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../stylesheet/mainPage.css">
	<link rel="stylesheet" type="text/css" href="../stylesheet/contactPage.css">	
</head>
<body>
	<div id="pageContainer">
		<div id="headerContainer">
			<div class="navbarContainer">
				<div id="logoContainer">
					<a href="/mainPage">
						<div id = "logo">
							<img class ="logoImage" src = "https://cdainterview.com/rw_common/images/bemo-logo2.png" alt="LogoImage">
						</div>
					</a>
				</div>
				<div id="nContainer">
					<nav>
						<ul class="navigation">
							<li id="current">
								<a href="/main" id="current">Main</a>
							</li>
							<li>
								<a href="/contact">Contact Us</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			<div id="bannerContainer">
				<img id = "bannerImg" src="https://cdainterview.com/resources/contact-us.png">
			</div>
		</div>	
		<div id="contentContainer">
			<section>
				<div id="padding">
					<form action="" method="post" enctype="multipart/form-data">
						<div>
							<div class="mesgText">
								<span style="font-size:17px; font-weight:bold; ">BeMo Academic Consulting Inc. 
								</span>
								<br>
								<span>
									<span style="font-size:13px; font-weight:bold; "><u>Toll Free</u></span>
									<span style="font-size:13px; ">: </span>
									<span style="font-size:14px; ">1-855-900-BeMo (2366)</span>
									<span style="font-size:13px; "><br></span>
									<span style="font-size:13px; font-weight:bold; "><u>Email</u></span>
									<span style="font-size:13px; ">: </span>
									<span style="font-size:14px; ">info@bemoacademicconsulting.com</span>
								</span>
							</div>	
							<label>Name:</label>
							 *
							<br>
							<input class="form-input-field" type="text" name="" size="40">	
							<br>
							<br>
							<label>Email Address:</label>
							 *
							<br>
							<input class="form-input-field" type="text" name="" size="40">	
							<br>
							<br>
							<label>How can we help you?</label>
							 *
							<br>
							<textarea class="form-input-field" name="" rows="8" cols="38"></textarea> 	
							<br>
							<br>
							<input class="form-input-button" type="reset" name="resetButton" value="Reset">
							<input class="form-input-button" type="submit" name="submitButton" value="Submit">
						</div>
					</form>
					<br>
					<div class="form-footer">
						<span style="font-size:15px; font-weight:bold; ">
							<u>Note</u>
						</span>
						<span style="font-size:15px; ">: If you are having difficulties with our contact us form above, send us an email to info@bemoacademicconsulting.com (copy &amp; paste the email address)
						</span>
						<span style="font-size:13px; "><br></span>
					</div>
				</div>				
			</section>
		</div>
		<!--footer-->
		<footer>
			<div id="footer">&copy;2013-2016 BeMo Academic Consulting Inc. All rights reserved. 
				<a href="http://www.cdainterview.com/disclaimer-privacy-policy.html"target="_blank">
					<span style="text-decoration:underline;">Disclaimer & Privacy Policy</span>
				</a> 
				<a href="mailto:info@bemoacademicconsulting.com" id="rw_email_contact">
					<span style="text-decoration:underline;">Contact Us</span>
				</a>
			</div>
				
				<div id="socialicons">
					<a class="social" href="https://www.facebook.com/bemoacademicconsulting">F</a>
					<a class="social" href="https://twitter.com/BeMo_AC">L</a>
				</div>
		</footer>	
	</div>
</body>
</html>